@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  color-scheme: light;
}

html,
body {
  color-scheme: light;
}

color: var(--foreground);
background: var(--background);
font-family: Arial,
Helvetica,
sans-serif;
}

/* Force logo blending */
.logo-blend {
  mix-blend-mode: multiply !important;
}