@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff !important;
  --foreground: #171717 !important;
  color-scheme: light;
}

html,
body {
  background-color: #ffffff !important;
  color: #171717 !important;
  color-scheme: light !important;
  font-family: Arial, Helvetica, sans-serif;
}

/* Force logo blending */
.logo-blend {
  mix-blend-mode: multiply !important;
}